.container-for-section {
    width: 100vw;
    display: flex;
    justify-content: center;
  }

.container-for-contacts {
  display: flex;
  justify-content: center;
  font-family: 'Futura Upright';
}

  @font-face {
    font-family: 'Futura Upright'; /* Name your font family */
    src: url('../../assets/fonts/futura/Futura\ Book\ font.ttf'); /* Locate the .ttf file within your directory*/
  }

.contact-link {
  display: flex;
  width: 5vw;
  height: 10vh;
  font-size: 2vh;
  color: #1f2935;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.divider {
  display: flex;
  height: 10vh;
  width: 1.5vw;
  font-size: 2vh;
  margin: 0;
  color: #1f2935;
  text-align: center;
  justify-content: center;
  align-items: center;

}

@media (max-width: 768px) {
  .container-for-contacts {
    flex-direction: row; /* Stack links vertically */
    align-items: center; /* Center align for mobile */
    gap: 2vw; /* Add spacing between links */
  }

  .contact-link {
    width: auto; /* Allow links to resize dynamically */
    height: auto; /* Adjust height for smaller screens */
    font-size: 3vw; /* Adjust font size for smaller screens */
  }

  .divider {
  }
}

