.container-for-section {
    width: 100vw;
    background-color: #fff;
    display: flex;
    justify-content: center;
  }

.container-for-contacts {
  display: flex;
  width: 20vw;
  height: 10vh;
  justify-content: center;
  font-family: 'Futura Upright';
}

  @font-face {
    font-family: 'Lunar Escape'; /* Name your font family */
    src: url('../../assets/fonts/lunar-escape/Lunar\ Escape.otf'); /* Locate the .ttf file within your directory*/
  }

  @font-face {
    font-family: 'Futura Upright'; /* Name your font family */
    src: url('../../assets/fonts/futura/Futura\ Book\ font.ttf'); /* Locate the .ttf file within your directory*/
  }

.contact-link {
  display: flex;
  width: 5vw;
  height: 10vh;
  font-size: 2vh;
  color: #1f2935;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.divider {
  display: flex;
  height: 10vh;
  width: 1.5vw;
  font-size: 2vh;
  margin: 0;
  color: #1f2935;
  text-align: center;
  justify-content: center;
  align-items: center;

}

