.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #fafaf8;
    padding: 2vh 0vw;
    overflow-x: hidden;
  }

  @font-face {
    font-family: 'Futura'; /* Name your font family */
    src: url('../../assets/fonts/futura/Futura\ Book\ Italic\ font.ttf'); /* Locate the .ttf file within your directory*/
  }

  @font-face {
    font-family: 'Lunar Escape'; /* Name your font family */
    src: url('../../assets/fonts/lunar-escape/Lunar\ Escape.otf'); /* Locate the .ttf file within your directory*/
  }

  @font-face {
    font-family: 'Digitag'; /* Name your font family */
    src: url('../../assets/fonts/digitag/Digitag.ttf'); /* Locate the .ttf file within your directory*/
  }

  @font-face {
    font-family: 'Graffiti'; /* Name your font family */
    src: url('../../assets/fonts/zerowax-font/Zerowax-6RLzg.otf'); /* Locate the .ttf file within your directory*/
  }
  
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Futura'
  }
  
  .text-container {
    width: 30vw;
    height: 85vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 85vh;
    width: 45vw;
  }

  h1 {
    margin: 0;
    margin-top: 5vh;
    font-size: 7.8vh;
    font-weight: bold;
    color: #1f2935;
    margin-bottom: 3vh;
  }
  
  p {
    color: #6b7280;
    font-size: 1.7vh;
    font-family: 'Lunar Escape';
    margin: 0;
  }

  .cta-button {
    padding: 1vh 1.5vw;
    background: #252835;
    color: white;
    transition: opacity 0.2s;
    height: 2.4vh;
    font-family: 'Lunar Escape';
    border: none;
    margin: 0;
    font-size: 1.2vh;
    text-decoration: none;
    align-content: center;
    margin-top: 3vh;
  }

  .cta-button:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  .experience-p {
    color: #fff;
    margin: none;
    font-size: 0.8rem;
    font-family: "Lunar Escape"
  }

  .banner-img {
    display: flex;
    position: relative;
    object-fit: contain;
    width: 45vw;
    height: 85vh;
  }

  .click-me-div {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    align-self: flex-start;
    width: 15vw;
    height: 20vh;
    font-family: "Graffiti";
    transition: opacity 0.5s ease-in-out;
    transition-delay: 1s;
    z-index: 1;
  }

  .click-me-h1 {
    font-family: "Graffiti";
    align-self: flex-start;
    font-size: 5vh;
    text-align: center;
    transform: rotate(15deg);
    position: absolute;
    margin: 0;
    left: 5vw;
  }

  .click-me-arrow {
    position: absolute;
    object-fit: contain;
    margin: 0;
    width: 4.5vw;
    height: 4.5vw;
    align-self: flex-end;
    right: 4vw;
    bottom: 2vh;
    transform: rotate(135deg)
  }

  .uiuc-container {
    background-color: #252835;
    position: absolute;
    width: 16vw;
    height: 13vh;
    border: solid;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 1px;
    padding: 1rem;
    overflow-y: hidden;
    z-index: 40;
  }

  .uiuc-line-horizontal {
    position: absolute;
    background-color: #252835;
    height: 0.2rem;
    width: 12rem;
    right: 33rem;
    z-index: 40;
  }

  .uiuc-line-vertical {
    position: absolute;
    background-color: #252835;
    height: 2.2rem;
    width: 0.2rem;
    right: 45rem;
    top: 2.9rem;
  }

  .uiuc-circle {
    position: absolute;
    background-color: #fafaf8;
    border: solid;
    border-width: 0.17rem;
    border-color: #252835;
    height: 0.67rem;
    width: 0.67rem;
    border-radius: 50%;
    right: 33rem;
    z-index: 40;
  }

  .experience1-container {
    background-color: #252835;
    position: absolute;
    left: 32rem;
    width: 15rem;
    height: 30rem;
    border: solid;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 1px;
    padding: 1rem;
    overflow-y: hidden;
    z-index: 40;
  }

  .experience1-line-horizontal {
    position: absolute;
    background-color: #fafaf8;
    height: 0.2rem;
    width: 6.6rem;
    left: 25.35rem;
    top: 6.5rem;
  }

  .experience1-line-vertical {
    position: absolute;
    background-color: #fafaf8;
    height: 3.5rem;
    width: 0.2rem;
    left: 25.35rem;
    top: 6.5rem;
  }

  .experience1-circle {
    position: absolute;
    background-color: #252835;
    border: solid;
    border-width: 0.17rem;
    border-color: #fafaf8;
    height: 0.67rem;
    width: 0.67rem;
    border-radius: 50%;
    left: 25rem;
    top: 10rem;
  }

  .experience2-container {
    background-color: #252835;
    position: absolute;
    right: 32rem;
    top: 12.5rem;
    width: 20rem;
    height: 23rem;
    border: solid;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 1px;
    padding: 1rem;
    z-index: 40;
    overflow-y: hidden;
  }

  .experience2-line-horizontal {
    position: absolute;
    background-color: #fafaf8;
    height: 0.2rem;
    width: 3.5rem;
    right: 33.5rem;
    top: 11.1rem;
  }

  .experience2-line-vertical {
    position: absolute;
    background-color: #fafaf8;
    height: 1.5rem;
    width: 0.2rem;
    right: 37rem;
    top: 11.1rem;
  }

  .experience2-circle {
    position: absolute;
    background-color: #252835;
    border: solid;
    border-width: 0.17rem;
    border-color: #fafaf8;
    height: 0.67rem;
    width: 0.67rem;
    border-radius: 50%;
    right: 33.5rem;
    top: 10.8rem;
  }

  .experience3-container {
    background-color: #252835;
    position: absolute;
    left: 26rem;
    top: 24.65rem;
    width: 20rem;
    height: 18rem;
    border: solid;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 1px;
    padding: 1rem;
    z-index: 40;
    overflow-y: hidden;
  }

  .experience3-line-horizontal {
    position: absolute;
    background-color: #fafaf8;
    height: 0.2rem;
    width: 6rem;
    left: 30.5rem;
    top: 23.5rem;
  }

  .experience3-line-vertical {
    position: absolute;
    background-color: #fafaf8;
    height: 1.2rem;
    width: 0.2rem;
    left: 36.5rem;
    top: 23.5rem;
  }

  .experience3-circle {
    position: absolute;
    background-color: #252835;
    border: solid;
    border-width: 0.17rem;
    border-color: #fafaf8;
    height: 0.67rem;
    width: 0.67rem;
    border-radius: 50%;
    left: 30.5rem;
    top: 23rem;
  }

  .dropdown-arrow {
    position: sticky;
    filter: invert(100%);
    bottom: 0rem;
    left: 20rem;
    animation: blinker 1s ease-in-out infinite;
  }

  @keyframes blinker {
    50% {
        opacity: 0;
    }
  }



