.section-container {
    display: flex;
    width: 100vw;
    background-color: #fafaf8;
    flex-direction: column;
    overflow-y: hidden;
}

.section-title {
  font-weight: 600;
  margin-top: 8vh;
  margin-bottom: 2vh;
  text-align: center;
  color: #1f2935;
  font-family: 'Lunar Escape';
  font-size: 2.3vh;

}

.section-subheader {
    font-family: 'Lunar Escape';
    color: #1f2935;
    font-size: 1.7vh;
    font-weight: 500;
    text-align: center;
    margin-top: 0vh;
}

  @font-face {
    font-family: 'Lunar Escape'; /* Name your font family */
    src: url('../../assets/fonts/lunar-escape/Lunar\ Escape.otf'); /* Locate the .ttf file within your directory*/
  }

  @font-face {
    font-family: 'Digitag'; /* Name your font family */
    src: url('../../assets/fonts/digitag/Digitag.ttf'); /* Locate the .ttf file within your directory*/
  }

  @font-face {
    font-family: 'Graffiti'; /* Name your font family */
    src: url('../../assets/fonts/zerowax-font/Zerowax-6RLzg.otf'); /* Locate the .ttf file within your directory*/
  }

  .projects-section {
    display: flex;
    flex-direction: column;
    width: 80vw;
    gap: 3.5vh;
    padding: 5vh 0;
    background-color: #fafaf8;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }

  .card-wrapper {
    display: inline-block;
    transition: box-shadow 0.25s ease-in-out 0.5s;
    cursor: pointer;
    text-decoration: none;
  }

  .card-wrapper:hover .project-card {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%, 0% 0%);
  }

  .card-wrapper:hover {
    box-shadow: 7.5px 7.5px #4b5563;
  }

    /* Hover Out: Box-Shadow disappears first, THEN clip-path changes back */
  .card-wrapper:not(:hover) {
    transition: box-shadow 0.25s ease-in-out 0.25s; /* No delay when removing shadow */
  }
  
  .card-wrapper:not(:hover) .project-card {
    transition: clip-path 0.25s ease-in-out 0.5s; /* Delay clip-path revert until shadow is gone */
  }

  .project-card {
    height: 20vh;
    width: 75vw;
    clip-path: polygon(5% 0%, 100% 0%, 100% 70%, 95% 100%, 0% 100%, 0% 30%);
    transition: clip-path 0.25s ease-in-out 0.25s; /* Delayed box-shadow */
    flex-direction: row;
    align-content: center;
    text-align: center;
    justify-items: center;
    background-color: #1f2935;
  }

  .project-content {
    height: 19.5vh;
    width: 74.5vw;
    clip-path: polygon(5% 0%, 100% 0%, 100% 70%, 95% 100%, 0% 100%, 0% 30%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: #fafaf8;
  }

  .project-info {
    display: flex;
    width: 58vw;
    height: 19.5vh;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 3.5vw;
  }

  .project-title {
    font-size: 4.5vh;
    font-family: "Graffiti";
    font-weight: bold;
    margin: 0vh 1vw;
    margin-top: 2vh;
    color: #1f2935;
  }

  .tech-tags {
    display: flex;
    gap: 0.5vw;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1vh;
  }
  
  .tech-tag {
    background-color: #e5e7eb;
    padding: 0.5vh 0.7vw;
    border-radius: 9999px;
    font-size: 1.5vh;
    color: #1f2935;
    font-weight: 500;
    font-family: 'Lunar Escape';
  }

  .project-description {
    font-size: 1.8vh;
    color: #4b5563;
    margin: 0 auto;
    margin-top: 2vh;
    text-align: left;
    font-family: 'Lunar Escape';
  }

  .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 19.5vh;
    height: 19.5vh;
    margin-right: 3.5vw;
    background-color: #fafaf8;
  }

  .project-img {
    object-fit: cover;
    width: 9vw;
    height: 9vw;
    filter: grayscale(0.5);
  }