.skills-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #fafaf8;
    justify-content: space-between;
    align-items: center;
  }

  .section-title {
    font-weight: 600;
    margin-top: 8vh;
    margin-bottom: 2vh;
    text-align: center;
    color: #1f2935;
    font-family: 'Lunar Escape';
    font-size: 2.3vh;
  
  }

  .skills-content {
    display: flex;
    width: 100%;
  }
  
  @font-face {
    font-family: 'Futura'; /* Name your font family */
    src: url('../../assets/fonts/futura/Futura\ Book\ Italic\ font.ttf'); /* Locate the .ttf file within your directory*/
  }

  @font-face {
    font-family: 'Lunar Escape'; /* Name your font family */
    src: url('../../assets/fonts/lunar-escape/Lunar\ Escape.otf'); /* Locate the .ttf file within your directory*/
  }

  @font-face {
    font-family: 'Futura Upright'; /* Name your font family */
    src: url('../../assets/fonts/futura/Futura\ Book\ font.ttf'); /* Locate the .ttf file within your directory*/
  }

  @font-face {
    font-family: 'Digitag'; /* Name your font family */
    src: url('../../assets/fonts/digitag/Digitag.ttf'); /* Locate the .ttf file within your directory*/
  }

  @font-face {
    font-family: 'Graffiti'; /* Name your font family */
    src: url('../../assets/fonts/zerowax-font/Zerowax-6RLzg.otf'); /* Locate the .ttf file within your directory*/
  }

  .skills-section {
    padding: 2vh 0vw;
    width: 75vw;
    min-height: 50vh;
    margin: 0 0;
    display: grid;
    justify-items: space-between;
    align-items: center;
    grid-template-columns: repeat(3, 25vw);
    gap: 1vh 0vw;
  }
  
  .skill-bar {
    display:inline-flex;
    align-items: flex-end;
    justify-content: flex-start;
    font-family: monospace;
    cursor: pointer;
  }
  
  .skill-name {
    font-size: 0.8vw;
    font-weight: 600;
    text-align: left;
    color: #6b7280;
    font-family: 'Lunar Escape';
    align-self: flex-end;
    width: 5vw;
  }

  .skills-progress-icon {
    padding-right: 1vw;
    width: 2vw;
    font-size: 1.5vw;
    filter: grayscale(1);
  }

  .bar-container {
    width: 12vw;
    background-color: #e0e0e0;
    overflow: hidden;
    height: 1.5vh;
    margin: 0 1.5vw;
    border: solid;
    border-width: 0.5px;
    border-color:#4b5563;
  }
  
  .bar-fill {
    height: 100%;
    background-color: #6b7280;
  }
  
  .proficiency {
    width: 1vw;
    font-weight: 500;
    color: #6b7280;
    text-align: left;
    font-family: 'Lunar Escape';
    font-size: 1.6vh;
  }
 
  