html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

#Home, #Experiences, #Contacts {
  scroll-snap-align: start; /* Optional: For better snapping behavior */
}

.app {
  background-color: #fafaf8;
}