html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.app {
  background-color: var(--bg-primary);
  min-height: 100vh;
}

.footer {
  text-align: center;
  padding: 4vh 0 5vh;
  font-size: 0.8rem;
  color: var(--text-primary);
  background-color: var(--bg-primary);
}
